<h2>Product Details</h2>

<div *ngIf="product" class="container-fluid">
	<div class="row justify-content-between">
		<div class="col-md-5 product-details">
			<img src={{product.image}} alt={{product.description}}>
		</div>
		<div class="col-md-5 product-details">
			<h3>{{ product.name }}</h3>
			<app-product-rating [product]="product"></app-product-rating>
			<h5 class="product-price">{{ product.price | currency }}</h5>
			<p>{{ product.description }}</p>
			<button mat-raised-button color="primary" (click)="addToCart(product)">
				<mat-icon>add_shopping_cart</mat-icon> Add to Cart
			</button>
		</div>
	</div>
</div>