<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h2 class="d-flex justify-content-between align-items-center mb-3">
        <span>Cart</span>
        <span class="badge badge-secondary badge-pill">{{items.length}}</span>
      </h2>

      <p>
        <a routerLink="/shipping">Shipping Prices</a>
      </p>

      <div *ngIf="items.length == 0">
        <p>You have no items in your cart</p>
      </div>

      <ul class="list-group cart-items" *ngIf="items.length != 0">
        <li class="list-group-item d-flex justify-content-between align-items-center cart-item"
          *ngFor="let item of items">
          <span>{{ item.name }}</span>
          <span>{{ item.price | currency }}</span>
          <!-- Eventually, use this to note how many of each item are in cart
            <span class="badge badge-secondary badge-pill">2</span> -->
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-success cart-total">
          <span>Total before shipping: </span>
          <span>{{ totalPrice | currency }}</span>
        </li>
      </ul>
    </div>

    <div class="col-md-6" *ngIf="items.length != 0">
      <app-checkout></app-checkout>
    </div>
  </div>
</div>