<form [formGroup]="checkoutForm">
    <h2>Checkout</h2>
    <div>
        <mat-form-field>
            <input matInput placeholder="First Name" type="text" formControlName="fname" required>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput placeholder="Last Name" type="text" formControlName="lname" required>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput placeholder="Email Address" formControlName="email" required>
            <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
        </mat-form-field>
    </div>
    <button type="button" class="btn btn-primary" (click)="submitForm()" [disabled]="!this.checkoutForm.valid">
        Purchase</button>
</form>