<h2>Products</h2>

<div class="card productListing" *ngFor="let product of products; index as productId">
  <img class="card-img-top" src={{product.image}} alt={{product.description}}>
  <div class="card-body">
    <h5>{{product.name}}</h5>
    <h6 class="text-muted">{{product.price | currency }}</h6>
    <button mat-fab color="primary" matTooltip="View Details" matTooltipPosition="below"
      [routerLink]="['/products', productId]">
      <mat-icon>launch</mat-icon>
    </button>
    <button mat-fab color="primary" matTooltip="Add to Cart" matTooltipPosition="below" (click)="addToCart(product)">
      <mat-icon>add_shopping_cart</mat-icon>
    </button>
  </div>
</div>