<h2>Products</h2>

<div *ngFor="let product of products; index as productId" class="productListing">
  <h3>
    <a [title]="product.name + ' details'" [routerLink]="['/products', productId]">
      {{product.name}}
    </a>
  </h3>

  <button (click)="share(product.name)"><i class="material-icons md-light">share</i>
    Share
  </button>

  <!-- Add the product alert component and pass in the current product -->
  <app-product-alerts [product]="product" (notify)="onNotify($event)">
  </app-product-alerts>

</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->