.productListing  {
  width: 250px;
  min-height:430px;
  margin: 1rem;
  padding: 5px;
  float: left;  
  text-align: center;
}

.productImg {
  max-width:85%;
  margin:auto;
}

button {
  margin: 10px;
}