.productListing  {
  width: 250px;
  height: 470px;
  margin: 1rem;
  padding: 5px;
  float: left;  
  text-align: center;
}

button {
  margin: 10px;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/