/* Global Styles */

html, body { 
  height: 100%; 
  margin: 0; 
  font-family: 'Roboto', Arial, sans-serif;   
}

.appContainer {
  margin: 20px;
}

/* Hyperlink */

a:hover {
  text-decoration: none;
} 

/* Shipping Prices */

.shipping-item {
  width: 100%;
  min-width: 400px;
  max-width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 32px;
  margin-bottom: 8px;
  border-radius: 2px;
  background-color: #EEEEEE;
}

/* Material Components */

.snackbar-notification {
  font-weight: lighter;
}